extends ../layouts/default

block content
    .container
        h1= company.motto
        #carousel-example-generic.carousel.slide(data-ride="carousel")
            //- Indicators
            ol.carousel-indicators
                each project, i in portfolioProjects
                    li(data-target="#carousel-example-generic", data-slide-to=i, class= i==0 ? "active" : "")

            //- Wrapper for slides
            .carousel-inner
                each project, i in portfolioProjects
                    .item(class= i==0 ? "active" : "")
                        img(src=project.image.url, alt=project.title)
                        .carousel-shadow
                        .carousel-caption
                            h3=project.title

            //- Controls
            a.left.carousel-control(href="#carousel-example-generic", data-slide="prev")
                span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href="#carousel-example-generic", data-slide="next")
                span.glyphicon.glyphicon-chevron-right

        .company-description!= company.aboutCompany.html

        .row.contact-form__wrapper: .col-sm-8.col-md-8
            .contact-form__message Или оставьте сообщение через форму, мы свяжемся с вами сами:
            .contact-form__status
            form(method='post').contact-form
                input(type='hidden', name='action', value='contact')
                .form-group
                    label.control-label Ваше имя
                    input(type='text', name='name.full', required).form-control
                .form-group
                    label.control-label Ваш email
                    input(type='email', name='email', required).form-control
                .form-group
                    label Номер телефона
                    input(type='text', name='phone', placeholder='(необязательно)').form-control
                .form-group
                    label.control-label Сообщение
                    textarea(name='message', rows=4, required).form-control
                .form-actions
                    button(type='submit').btn.btn-primary Отправить

        .company-address= 'Наш адрес: ' + company.address.postCode + ', ' + company.address.city + ', ' + company.address.street
            .company-address__description= company.address.description
            .company-welcomeText= company.welcomeText