extends ../layouts/default

block content
    .container
        .layout__left
            ul.service-categories
                each category, i in categories
                    li.service-categories__category(class= category.slug==serviceCategory ? "active" : "")
                        a(href=category.slug)= category.name
        .layout__right
            if services.length > 1
                //- Оглавление
                ul.services-TOC
                    each service, i in services
                        li.services-TOC__item
                            a(href='#'+service.slug)= service.name

                //- Список услуг
                .services
                    each service, i in services
                        .services__service
                            .services__title(id=service.slug)= service.name
                            img.servicess__img(src=service.image.url, alt=service.name)
                            .services__brief!= service.content.brief
                            a.services__more(href=service.slug) Подробнее...
            else if services.length == 1
                //- Единственная услуга полностью
                .services
                    .services__service
                        .services__title(id=services[0].slug)= services[0].name
                        img.servicess__img(src=services[0].image.url, alt=services[0].name)
                        .services__brief!= services[0].content.extended
            else
                .message В выбранном разделе пока не добавлены услуги

//- block js
//-     script(src='/js/site.js')

block css
    link(href="/styles/services.min.css", rel="stylesheet")
